# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build directories
build/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache files
.cache/
.next/
.pnp.cjs
.pnp.loader.mjs
.parcel-cache/
.vscode/
.idea/
.DS_Store

# Testing
coverage/
jest-html-reporters-*.html
*.lcov

# Editor and system files
*.swp
*.swo
*.sublime-workspace
*.sublime-project
.vscode/
Thumbs.db
.DS_Store

# Service workers
service-worker.js

# Miscellaneous
*.lock
yarn.lock
package-lock.json
