.service-container {
  background: linear-gradient(220deg, #fefefc 51.78%, #009994 132.31%);
}

.item-service-container {
  position: relative;
  padding-bottom: 100px;
  padding-top: 60px;
}

.service-title {
  color: #48464b;
  font-family: Source Sans Pro;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  max-width: 90vw;
  margin: 0.67em auto;
}

#img-pjok {
  width: 40%;
}

#img-pkasur {
  width: 60%;
}

.item-service-container h2 {
  color: #747475;
  font-family: Source Sans Pro;
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  max-width: 90vw;
  margin: auto;
  margin-top: 72px;
}

.before-after {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.pkasur-ba-img {
  height: 400px;
  width: auto;
}

.table-container {
  width: 760px;
  margin: auto;
}

.table {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  color: #48464b;
  font-family: Source Sans Pro;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #f7f7f7;
  box-shadow: 0px 4px 20px 0px rgba(72, 70, 75, 0.2);
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 20px 12px;
  vertical-align: top;
}

td:first-child {
  background: #38aca3;
  width: 300px;

  color: #fff;
  font-family: Source Sans Pro;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

th {
  background: #128080;
  color: #fff;
  font-family: Source Sans Pro;
  font-size: 1.25rem;
  font-weight: 600;
}

.general-cleaning-info,
.desinfektan-info {
  color: #48464b;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.desinfektan-info {
  max-width: 60vw;
  margin: auto;
}

.general-cleaning-info:nth-child(3) {
  margin-bottom: 60px;
}

#img-d1,
#img-d2 {
  width: 44%;
}

#img-gsapu {
  width: 45%;
}

.service-list-container {
  display: flex;
  align-items: center;
  margin-top: 60px;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .desinfektan-info {
    max-width: 85vw;
  }
}

@media screen and (max-width: 800px) {
  .pkasur-ba-img {
    height: 340px;
  }

  .vkasur-ba-img {
    height: 180px;
  }

  .service-title {
    font-size: 3rem;
  }

  .item-service-container h2 {
    font-size: 2rem;
    margin-top: 60px;
  }

  .table-container {
    width: 600px;
  }

  table {
    font-size: 1rem;
  }

  td:first-child {
    font-size: 1rem;
  }

  th {
    font-size: 1rem;
  }

  .general-cleaning-info,
  .desinfektan-info {
    font-size: 1.25rem;
    max-width: 90vw;
    margin: auto;
  }

  td:first-child {
    width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .before-after {
    flex-direction: column;
  }

  .table-container {
    width: 90vw;
    overflow-x: scroll;
  }

  .table {
    width: 600px;
  }

  td:first-child {
    width: 100px;
  }
}

@media screen and (max-width: 500px) {
  .service-title {
    font-size: 2.4rem;
    margin-bottom: 10px;
  }

  .item-service-container h2 {
    font-size: 1.6rem;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .item-service-container {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .service-title {
    margin-top: 40px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 375px) {
  #img-gsapu {
    width: 52%;
  }
  #img-d1,
  #img-d2 {
    width: 50%;
  }
}

@media screen and (max-width: 300px) {
  .service-title {
    font-size: 2.3rem;
    margin-bottom: 0;
  }
  .pkasur-ba-img {
    height: 280px;
  }

  .vkasur-ba-img {
    height: 132px;
  }

  .general-cleaning-info,
  .desinfektan-info {
    font-size: 1rem;
  }
  #img-gsapu {
    width: 64%;
  }
  #img-d1,
  #img-d2 {
    width: 62%;
  }
}
