.service-card {
  width: 200px;
  height: 200px;
  background: linear-gradient(153deg, #1c7072 22.58%, #009994 100%);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.img-container {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container img {
  margin-top: 40px;
}

.service-card p {
  color: #fffffd;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Source Sans Pro;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.service-card-container {
  text-decoration: none;
  display: flex;
  flex-basis: unset;
}

.service-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media screen and (max-width: 920px) {
    .service-card-container {
        flex-basis: 40%;
        align-items: center;
        justify-content: center;
    }
    
}
