.contact-item {
  display: flex;
  margin: 16px 0;
  gap: 12px;
  align-items: center;
}

.contact-item.contact-footer {
  display: flex;
  margin: 4px 0;
  gap: 8px;
  align-items: center;
}

.contact-item:hover {
  cursor: pointer;
}

.contact-item:hover .contact-logo {
  box-shadow: -1px 1px var(--cyan), -2px 2px var(--cyan), -3px 3px var(--cyan),
    -4px 4px var(--cyan), -5px 5px var(--cyan);
  transform: scale(1.05);
}

.contact-item .contact-logo {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background: #f7f7f7;
  box-shadow: 0px 4px 4px rgba(72, 70, 75, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  flex-shrink: 0;
}

.contact-item.contact-footer .contact-logo {
  width: 32px;
  height: 32px;
}

.contact-item.contact-footer .contact-logo img {
  width: 22px;
}

.contact-info {
  color: #fffffd;
  font-family: Source Sans Pro;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  text-decoration: none;
}

.contact-info.contact-footer {
  font-size: 1.2rem;
}

@media screen and (max-width: 1100px) {
  .contact-item .contact-logo {
    width: 44px;
    height: 44px;
  }

  .contact-item .contact-logo img {
    width: 20px;
  }

  .contact-info {
    font-size: 1.2rem;
  }

  .contact-item {
    margin: 10px 0;
  }
}

@media screen and (max-width: 375px) {
  .contact-item {
    margin: 8px 0;
  }

  .contact-item .contact-logo {
    width: 36px;
    height: 36px;
  }

  .contact-item .contact-logo img {
    width: 16px;
  }

  .contact-info {
    font-size: 1.12rem;
  }

  .contact-info.contact-footer {
    font-size: 1rem;
  }
}
