.product-card-container {
  width: 600px;
  height: 500px;
  background: #f7f7f7;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.product-image-container {
  width: 100%;
  height: 400px;
  background: linear-gradient(104deg, #1c7072 -31.36%, #38aca3 -22.86%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
}

.product-image-container .image {
  width: 75%;
  margin: auto;
}

.product-desc {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;

  color: #48464b;
  margin: 0;
  margin-top: 28px;
  text-align: center;
}

@media screen and (max-width: 780px) {
  .product-card-container {
    width: 400px;
    height: 400px;
  }

  .product-image-container {
    height: 300px;
  }
}

@media screen and (max-width: 550px) {
  .product-card-container {
    width: 300px;
    height: 280px;
  }

  .product-image-container {
    height: 200px;
  }

  .product-desc {
    font-size: 16px;

    margin-top: 28px;
  }
}

@media screen and (max-width: 450px) {
  .product-card-container {
    width: 280px;
    height: 280px;
  }

  .product-image-container {
    height: 200px;
  }

  .product-desc {
    font-size: 16px;
    margin-top: 28px;
  }
}

@media screen and (max-width: 375px) {
  .product-card-container {
    width: 240px;
    height: 260px;
  }

  .product-image-container {
    height: 200px;
  }

  .product-desc {
    font-size: 12px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 300px) {
  .product-card-container {
    width: 200px;
    height: 250px;
  }

  .product-image-container {
    height: 200px;
  }

  .product-desc {
    font-size: 12px;
    margin-top: 10px;
    padding-bottom: 20px;
  }
}
