.contact-container {
  background: linear-gradient(200deg, #fefefc 75.39%, #009994 140%);
  flex-direction: row;
}

.contact-container .logo {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 2;
}
.contact-container .logo .logo-img {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-container .info .copyright {
  width: 100%;
  color: #fffffd;
}

.contact-container .info {
  min-height: 100vh;
  flex: 3;
  background: linear-gradient(180deg, #1c7072 0%, #009994 100%);
  padding: 0 32px;
  display: flex;
  flex-direction: column;
}

.contact-container h1 {
  color: #fffffd;
  font-family: Bitter;
  font-size: 3.25rem;
  font-weight: 700;
  letter-spacing: 0.065rem;
  margin-top: 160px;
  margin-bottom: 0;
}

.contact-container h3 {
  color: #fffffd;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Source Sans Pro;
  font-size: 2.25rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0;
}

.contact-container h2 {
  color: #fffffd;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Source Sans Pro;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.05rem;
  margin: 0;
}

.socmed {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.socmed-logo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.socmed-logo a:hover img {
  transform: scale(1.1);
}

.socmed-logo img {
  width: 2.2rem;
  transition: 0.3s;
}

.socmed-logo .img-tiktok {
  width: 2.3rem;
}

.socmed-logo img:nth-child(4) {
  width: 2.5rem;
}

.socmed-logo img:nth-child(5) {
  width: 2.5rem;
}

.socmed p {
  margin: 0;
  color: #fffffd;
  font-family: Source Sans Pro;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@media screen and (max-width: 1100px) {
  .contact-container h1 {
    font-size: 2.75rem;
  }

  .contact-container h3 {
    font-size: 1.75rem;
  }

  .contact-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .socmed-logo img {
    width: 2rem;
  }

  .socmed-logo img:nth-child(4) {
    width: 2.3rem;
  }

  .socmed-logo img:nth-child(5) {
    width: 2.3rem;
  }

  .socmed p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 700px) {
  .contact-container .logo {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .contact-container h1 {
    margin-top: 120px;
    font-size: 2rem;
  }

  .contact-container h3 {
    font-size: 1.4rem;
  }

  .contact-container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .socmed-logo img {
    width: 1.8rem;
  }

  .socmed-logo img:nth-child(4) {
    width: 2rem;
  }

  .socmed-logo img:nth-child(5) {
    width: 2rem;
  }

  .socmed p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 300px) {
  .contact-container h1 {
    margin-top: 120px;
  }

  .contact-container {
    min-height: calc(100vh + 60px);
  }
}
