.carousel {
  overflow: hidden;
  width: 100vw;
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px 0;
}

.inner {
  transition: transform 0.5s;
  display: flex;
}

.caroussel-item-wrapper {
  width: 100vw;
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.3s;
}

.btn:hover {
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.arrow {
  transition: all ease-in-out 0.3s;
}

.btn:hover .arrow {
  transform: scale(1.05);
}

.left-btn {
  left: 20px;
}

.right-btn {
  right: 20px;
}

@media screen and (max-width: 550px) {
  .btn {
    width: 32px;
    height: 32px;
  }

  .arrow {
    width: 20px;
  }

  .left-btn {
    left: 10px;
  }

  .right-btn {
    right: 10px;
  }
}

@media screen and (max-width: 300px) {
  .btn {
    width: 24px;
    height: 24px;
  }

  .arrow {
    width: 14px;
  }

  .left-btn {
    left: 4px;
  }

  .right-btn {
    right: 4px;
  }
}
