.card-logo {
  width: 7rem;
  height: 7rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(72, 70, 75, 0.2);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fffffd;
  margin: 20px;
  transition: 0.3s;
}

.card-logo img {
  height: auto;
}

.card-logo:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 750px) {
  .card-logo {
    width: 5rem;
    height: 5rem;
    margin: 10px;
  }
}

@media screen and (max-width: 300px) {
  .card-logo {
    width: 4rem;
    height: 4rem;
    margin: 4px;
  }
}
