.banner-title {
  height: 240px;
  background: linear-gradient(180deg, #1c7072 0%, #009994 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-title h1 {
  color: #fffffd;
  font-family: Bitter;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.075rem;
  text-align: center;
  margin-top: 120px;
}

@media screen and (max-width: 850px) {
  .banner-title {
    height: 200px;
  }
  .banner-title h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 450px) {
  .banner-title {
    height: 160px;
  }
  .banner-title h1 {
    font-size: 2.4rem;
    margin-top: 110px;
  }
}

@media screen and (max-width: 300px) {
    .banner-title {
      height: 140px;
    }
    .banner-title h1 {
      font-size: 2rem;
      margin-top: 100px;
    }
  }
